/*


============================== 
StyleSheet Table of Contents
==============================
- CSS Variables
- Global Styles
- NavBar (Component)
- SideBar Nav (Component)
- Main Content
- Landing Page Content
- Public Home Page Content
- Compound Calc. (PublicHomePage)
- Account Modals - temp.
- Footer
- Loading Animation Classes (COMING SOON)


*/

/*
=============== 
CSS Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-white-transparent: rgba(255, 255, 255, 0.4);
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-red-orange: hsl(0, 100%, 67%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-green-dark2: hsl(104, 20%, 49%);
  --clr-green-light2: hsl(75, 47%, 66%);
  --clr-black: #222;
  /* purples used for borders/accent backgrounds */
  --clr-purple-dark: rgba(59, 55, 238, 1);
  --clr-purple-light: rgba(145, 46, 246, 1);
  --clr-purple-lightest: rgb(171, 95, 248);
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  top: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgb(250, 250, 250);

  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--clr-grey-1);
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  color: var(--clr-primary-1);
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
  color: var(--clr-primary-1);
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
}
button {
  color: var(--clr-primary-1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

.emphasis__spanP {
  font-weight: 700;
}

.confirm__btn__fill {
  padding: 0.75rem 1.25rem;
  border-radius: 2rem;
  border: none;
  color: var(--clr-white);
  background: linear-gradient(rgb(245, 117, 78), rgb(255, 88, 88));
}
.confirm__btn__fill:hover {
  color: var(--clr-grey-9);
  background: linear-gradient(90deg, rgb(255, 145, 111), rgb(255, 88, 88));
}
.confirm__btn__outline {
  padding: 0.75rem 1.25rem;
  border: var(--clr-red-orange) solid 1px;
  border-radius: 2rem;
}
.confirm__btn__outline:hover {
  color: var(--clr-purple-light);
  background-color: var(--clr-white-transparent) !important;
}

/* 
============================== 
NavBar (Component)
==============================
*/

nav {
  background: rgb(59, 55, 238);
  background: linear-gradient(
    90deg,
    rgba(59, 55, 238, 1) 0%,
    rgba(145, 46, 246, 1) 100%
  );
  position: fixed;
  width: 100%;

  border-bottom: var(--clr-grey-9) solid 1px;
}
.nav__wrapper {
  padding: 1rem;
}
.nav__container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  max-width: 1400px;
}

.nav__logo {
  color: var(--clr-white);
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: -0.1rem;
}
.nav__logo:hover {
  color: var(--clr-red-orange);
}
.signup__btn {
  padding: 0.75rem 1.25rem;
  border-radius: 2rem;
  color: var(--clr-white);
  background: linear-gradient(rgb(245, 117, 78), rgb(255, 88, 88));
}
.signup__btn:hover {
  color: var(--clr-grey-9);
  background: linear-gradient(90deg, rgb(255, 145, 111), rgb(255, 88, 88));
}
.login__btn {
  padding: 0.75rem 1.25rem;
  border: var(--clr-red-orange) solid 1px;
  border-radius: 2rem;
}
.login__btn:hover {
  color: var(--clr-primary-9);
  background-color: var(--clr-white-transparent);
}
.nav__links > * {
  color: var(--clr-white);
  margin-left: 2rem;
}
.mobile__nav {
  display: none;
  color: var(--clr-white);
  background: none;
  border: none;
  font-size: 2rem;
}
.mobile__nav:hover {
  color: var(--clr-red-orange);
}
@media screen and (max-width: 800px) {
  .mobile__nav {
    padding: 0 !important;
    margin: 0;
    display: flex;
  }
  .nav__links > * {
    display: none;
  }
}
/* 
============================== 
SideBar Nav (Component)
==============================
*/
.sidebar__container {
  /* padding-left: 2rem; */
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: #fff;
}
.sidebar__container > * {
  width: 100%;
  color: var(--clr-white);
  padding: 1rem;
  margin-bottom: 0.25rem;
  border-top: var(--clr-purple-lightest) solid 1px;
}
.sidebar__container > *:hover {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  /* border-top: var(--clr-red-orange) solid 1px; */
}

/* 
============================== 
Main Content
==============================
*/

.content__wrapper__main {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__mainSection {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;

  /* CLEAR FIXED NAV */
  padding-top: 7rem;
}

.content__mainSection > h2 {
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: -0.1rem;
}

/* STAND-IN / WHEN UNDER CONSTRUCTION */
.bgc__gradient {
  /* background: linear-gradient(rgb(245, 117, 78), rgb(255, 88, 88)); */
}

@media screen and (max-width: 600px) {
  .content__mainSection > h2 {
    font-size: 2rem;
  }
}

/* 
============================== 
Landing Page Content
==============================
*/
.landing__container {
  border-radius: 0.5rem;
  padding: 2rem;
}
.landing__container > h1 {
  margin-left: -0.3rem;
  padding: 0;
  font-size: 8rem;
  font-weight: 800;
  letter-spacing: -0.35rem;
}
.landing__container > h2 {
  color: var(--clr-grey-6);
  letter-spacing: -0.15rem;
  padding-bottom: 0.5rem;
  border-bottom: var(--clr-purple-dark) solid 1px;
  margin-bottom: 1rem;
}

.span__title {
  color: var(--clr-red-orange) !important;
}

.toHome__link {
  margin-top: 0.5rem;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border: var(--clr-white) solid 1px;
  border-radius: 5rem;
  background: linear-gradient(90deg, rgb(252, 121, 81), rgb(252, 53, 53));
  color: var(--clr-grey-10);
}
.toHome__link:hover {
  background: linear-gradient(90deg, rgb(255, 145, 111), rgb(255, 88, 88));
  color: var(--clr-white);
  cursor: pointer;
}

.arrow__icon {
  margin-top: 0.25rem;
  margin-left: 0.5rem;
  transition: 100ms ease-in-out;
}
.arrow__icon:hover {
  transform: scaleX(1.1);
  margin-top: 0.25rem;
  margin-left: 0.5rem;
}

.landing__subtitle {
  max-width: 30rem;
}

.landing__subtitle > p {
  margin-bottom: 2rem;
}

/* 
============================== 
Public Home Page Content
==============================
*/

.public__home__body {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
}

.home__heading {
  margin-top: 3rem;
  max-width: 600px;
}
.home__heading > h1 {
  letter-spacing: -0.125rem;
  border-bottom: var(--clr-purple-dark) solid 1px;
  padding-bottom: 1rem;
}

.createAccount__link {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border: var(--clr-white) solid 1px;
  border-radius: 5rem;
  background: linear-gradient(90deg, rgb(252, 121, 81), rgb(252, 53, 53));
  color: var(--clr-grey-10);
}
@media screen and (max-width: 1050px) {
  .public__home__body {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr;
  }
  .home__heading {
    padding-top: -5rem;
  }
}

/* 
============================== 
Compound Calc. (PublicHomePage)
==============================
*/

.calc__intro {
  max-width: 400px;
  margin-top: 2rem;
}

.compound__interest__calc {
  margin-top: 1rem;
  border: var(--clr-purple-dark) solid 1px;
  border-radius: 0.5rem;
  padding: 2rem;
  max-width: 600px;
}
.compound__interest__calc > h3 {
  font-size: 1.5rem;
  letter-spacing: -0.1rem;
  padding-bottom: 1rem;
}
.compound__interest__calc > div > label {
  font-weight: 600;
  letter-spacing: -0.05rem;
}

.calc__input__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.calc__input__section > input {
  outline: none;
  border: none;
  padding: 0.5rem 0;
  background: var(--clr-white);
  border-bottom: var(--clr-grey-4) solid 1px;
}
.compound__frequencey > select {
  padding: 0.25rem;
  border: var(--clr-purple-light) solid 1px;
}

.calc__input__section > input:focus {
  border: var(--clr-purple-light) solid 1px;
}

.calc__buttons {
  display: flex;
  justify-content: flex-end;
}

.calc__results {
  padding: 2rem;
  border: var(--clr-red-orange) solid 1px;
  border-radius: 0.5rem;
}

.calc__results > h3 {
  padding-bottom: 0.5rem;
  letter-spacing: -0.125rem;
  border-bottom: var(--clr-grey-2) solid 1px;
}

/* 
============================== 
Account Modals - temp.
==============================
*/

.account__modal {
  background: linear-gradient(rgb(245, 117, 78), rgb(255, 88, 88));
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  border: var(--clr-red-orange) solid 1px;
  border-radius: 0.5rem;
}

.account__modal > h2 {
  color: var(--clr-grey-10);
  border-bottom: var(--clr-purple-dark) solid 1px;
  padding-bottom: 1rem;
}

@media screen and (max-width: 600px) {
  .account__modal {
    max-width: 300px;
  }
}

/* 
=============== 
Footer
===============
*/

.footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: var(--clr-grey-9) solid 1px;
}
.footer__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  padding: 2rem 2rem 1rem 2rem;
}

.footer__left {
  display: flex;
  align-items: baseline;
  justify-content: center;
  text-decoration: none;
}
.footer__left > *:hover {
  color: var(--clr-red-orange);
}
.footer__logo {
  letter-spacing: -0.1rem;
  padding: 0.75rem 1.25rem;
  border: rgb(245, 117, 78) solid 1px;
  border-radius: 2rem;
  margin-right: 2rem;
}

.footer__right {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__right > a {
  text-decoration: none;
  color: var(--clr-primary-1);
  margin-left: 1rem;
}
.footer__right > a:hover {
  text-decoration: none;
  color: #c0c0c0;
  margin-left: 1rem;
}

.name__copyright {
  color: var(--clr-grey-5) !important;
}

@media screen and (max-width: 480px) {
  .footer__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
  }
  .footer__right {
    flex-direction: column;
    align-items: center;
  }
  .footer__right > a {
    flex-direction: column;
    margin-left: 0;
  }
}

/* 
=======================================  
Loading Animation Classes (COMING SOON)
======================================= 
*/
